// ЦВЕТА

//body
$body-bg: #262626;
$highlight: #FF4500;

//header
$header-bg: #373737;
$title-text: #dedede;

//comment
$comment-border: #333333;
$comment-bg: #161616;
$comment-info: #828274;
$comment-text: #dddddd;
$comment-bg-focus: #373737;
$username: #6a98af;
$links: #8cb3ce;

//input fields
$input-border: #4d4d4d;
$input-bg: #333333;
$input-text: #cccccc;

//buttons
$button-bg: #4d4d4d;
$button-border: #808080;
$button-text: #fff;
